auto-install-peers = true
link-workspace-packages = true
prefer-workspace-packages = true
recursive-install = true
registry = https://registry.npmmirror.com
chromedriver_cdnurl = https://npmmirror.com/mirrors/chromedriver/
disturl = https://npmmirror.com/mirrors/node/
sass_binary_site = https://npmmirror.com/mirrors/node-sass/
sharp_dist_base_url = https://npmmirror.com/mirrors/sharp-libvips/
electron_mirror = https://npmmirror.com/mirrors/electron/
puppeteer_download_host = https://npmmirror.com/mirrors/
phantomjs_cdnurl = https://npmmirror.com/mirrors/phantomjs/
sentrycli_cdnurl = https://npmmirror.com/mirrors/sentry-cli/
sqlite3_binary_site = https://npmmirror.com/mirrors/sqlite3/
python_mirror = https://npmmirror.com/mirrors/python/