{
  "extends": ["stylelint-config-standard", "stylelint-config-tailwindcss"],
  "plugins": ["stylelint-prettier"],
  "rules": {
    "prettier/prettier": true,
    "no-empty-source": null,
    "selector-type-no-unknown": [
      true,
      {
        "ignoreTypes": ["page", "view", "camera"]
      }
    ],
    "unit-no-unknown": [
      true,
      {
        "ignoreUnits": ["rpx"]
      }
    ],
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ],
    "selector-class-pattern": null
  },
  "ignoreFiles": [
    "**/*.js",
    "**/*.ts",
    "**/*.jsx",
    "**/*.tsx",
    "node_modules/**/*.css"
  ]
}
