@font-face {
  font-family: "heathen-icon-font";
  src: url('heathen-icon-font.woff?t=1752558179438') format('woff'),
  url('heathen-icon-font.ttf?t=1752558179438') format('truetype');
}

[class^="heathen-icon-"], [class*=" heathen-icon-"] {
  font-family: 'heathen-icon-font' !important;font-size: inherit;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.heathen-icon-add-image-outlined:before { content: "\ea01"; }
.heathen-icon-check-outlined:before { content: "\ea02"; }
.heathen-icon-cross-circle-outlined:before { content: "\ea03"; }
.heathen-icon-cross-outlined:before { content: "\ea04"; }
.heathen-icon-down-filled:before { content: "\ea05"; }
.heathen-icon-down-outlined:before { content: "\ea06"; }
.heathen-icon-home-outlined:before { content: "\ea07"; }
.heathen-icon-left-filled:before { content: "\ea08"; }
.heathen-icon-left-outlined:before { content: "\ea09"; }
.heathen-icon-loading-outlined:before { content: "\ea0a"; }
.heathen-icon-right-filled:before { content: "\ea0b"; }
.heathen-icon-right-outlined:before { content: "\ea0c"; }
.heathen-icon-up-filled:before { content: "\ea0d"; }
.heathen-icon-up-outlined:before { content: "\ea0e"; }


