.heathen-input {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 0;
  height: 48px;
  padding: 0;
  margin: 0;
  font-size: 28px;
  line-height: 48px;
  color: var(--neutral-10);
}

.heathen-input-prefix,
.heathen-input-suffix {
  flex: none;
}

.heathen-input-native {
  flex: auto;
  height: 100%;
  width: 100%;
  resize: none;
  outline: none;
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.heathen-input-clear {
  flex: none;
  font-size: 32px;
  color: var(--neutral-7);
}

.heathen-input-placeholder {
  color: var(--neutral-6);
}

.heathen-input-disabled {
  opacity: 0.7;
}

.heathen-input-left {
  justify-content: flex-start;
  text-align: left;
}

.heathen-input-center {
  justify-content: center;
  text-align: center;
}

.heathen-input-right {
  justify-content: flex-end;
  text-align: right;
}
