.heathen-toast {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 16px;
  background-color: rgb(0 0 0 / 70%);
  border-radius: 16px;
  width: max-content;
  max-width: 80vw;
  padding: 24px 48px;
  overflow: hidden;
  pointer-events: auto;
  color: white;
}

.heathen-toast-icon {
  font-size: 100px;
}

.heathen-toast-message {
  font-size: 28px;
  white-space: pre-wrap;
  word-break: break-all;
}
