.heathen-tab-bar-page {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.heathen-tab-bar-page-list {
  position: relative;
  height: 100%;
  overflow: visible;
  display: flex;
  transition: transform 0.5s cubic-bezier(0.32, 0.72, 0, 1);
}
